body {
    background-color: white;
    margin: 0;
   
}

.header {
	background-color: #171717;
	height: 85px;
	width: 100%;
	color: #ab8a66;
	top:0px;
	
}


.home {
    float:left;
    padding-left: 50px;
}

.links {
    font-family: "Butler";
    color: black;
    text-align: right;
    padding-top: 30px;
    padding-right: 50px;
    font-size: 1.4em;
    word-spacing:40px;
    
}


.links a {
    text-decoration: none;
    position: relative;
    color: white;
}

.links > a:hover{
	
}

.links > a:before{
    content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: #3399ff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

 .links > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.home a {
    text-decoration: none;
    position: relative;
    color: white;
}

.home > a:hover{
	
}

.home> a:before{
    content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: #3399ff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

 .home > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.header_text {
    color: white;
    text-align: center;
    padding-top: 250px;
    font-Family: "Bebas";
    font-size: 5em;
    word-spacing: 30px;
}

.web_intro {
    padding-top: 1000px;
}
