body {
    background-color: white;
    margin: 0;
   background-image: url(images/background_image.png);
   background-size: cover;
 
}


.links {
    font-family: "Trebuchet MS";
    color: black;
    text-align: right;
    padding-top: 30px;
    padding-right: 50px;
    font-size: 1.4em;
    
}

.links a {
    text-decoration: none;
    color: white;
}


